@mixin generarMediaQueries() {
  /* Responsive header */
  header {
    display: grid;
    grid-template-areas: "i i" "mi md";
    grid-template-columns: repeat(2, 1fr);

    #logo {
      grid-area: i;
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 10%;
      }
    }

    #left-menu {
      grid-area: mi;
    }

    #right-menu {
      grid-area: md;

      ul {
        align-items: center;

        li {
          height: fit-content;
        }
      }
    }
  }

  /* Responsive buscador */
  #search {
    .search-container {
      flex-direction: column;
    }
  }

  #slider {
    max-height: none;
    height: 600px;

    .slider-container .slider-item {
      flex-direction: column;
      height: 100%;

      &:nth-child(2) {
        img {
          order: none;
        }

        div {
          order: none;
        }
      }

      img {
        order: 1 !important;
        width: 100%;
        height: 300px;
      }

      div {
        order: 2 !important;
      }
    }
  }

  /* Responsive section */
  section .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Responsive footer */
  footer {
    flex-direction: column;

    .menu-footer {
      margin-bottom: 20px;

      li {
        text-align: center;
      }
    }

    .derechos {
      flex-direction: column;
      gap: 10px;
    }
  }
}

@media (650px < width < 800px) {
  @include generarMediaQueries();
}

@media (width < 650px) {
  @include generarMediaQueries();

  header {
    display: grid;
    grid-template-areas: "i" "mi" "md";
    grid-template-columns: 1fr;

    #logo img {
      width: 20%;
    }

    #left-menu {
      width: 100%;
      justify-content: center;
    }

    #right-menu {
      width: 100%;
      justify-content: center;
    }
  }

  section .articles-container {
    grid-template-columns: 1fr;
  }
}
